<h1>Places</h1>

<p>
<a href="/places/new" class="btn btn-success">New Place</a>
</p>

<h2>
<% if @current_user %>
<% for place in @places %>
<p><a href="/places/<%= place.id %>"><%= place.name %></a></p>
<% end %>
<% end %>
</h2>